*, *::before, *::after{
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root{
    --hue-neutral: 200;
    --hue-correct: 145;
    --hue-wrong: 0;
}

body{
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display:flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--hue), 100%, 20%);
}

body.correct{
    --hue: var(--hue-correct);
}
body.wrong{
    --hue: var(--hue-wrong);
}

.container{
    width: 715px;
    height: 452px;
    max-height: 900px;
    background-color: transparent;
    
    /* border-radius: 5px; */
    /* padding: 10px; */
    /* box-shadow: 0 0 10px 2px; */
}

.button-grid{
    display: grid;
    grid-template-columns: repeat(1, auto); /* repetir com todas as colunas: colunas de 2 elementos preenchendo todo o espaço possivel(auto) */
    gap: 15px; /* define o espaço entre elementos da grid */
    margin: 20px 0px 20px 0px;
}

.btn{
    --hue: var(--hue-neutral);
    /* border: 1px solid hsl(var(--hue), 100%, 20%); */
    background-color: white;
    border-radius: 5px;
    padding: 5px 10px 10px 10px;
    color: #0d92a1;
    outline: none;
    font-size: 18px;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* background-color: Transparent;
    background-repeat:no-repeat; */
    border: none;
    cursor:pointer;
    /* overflow: hidden; */
}
.btn:hover{
    border-color: black;
}

.btn-correct{
    --hue: var(--hue-correct);
    color: black;
}

.btn-wrong{
    --hue: var(--hue-wrong);
}

.start-btn, .next-btn{
    font-size: 18px;
    font-weight: bold;
    /* margin-top: 200px; */
    padding: 15px 25px 15px 25px;
    margin: 15px 25px 15px 25px;
    background-color: #0066cc;
    border-radius: 20px;
    color: whitesmoke;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
}

.controls{
    display:flex;
    justify-content: center;
    align-items: center;
}

.hide{
    display: none;
}

#question{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    color: #4d4d4d;
    font-weight: bold;
    margin: 20px 10px 10px 10px;
}
#btn-container{
    display: flex;
}

#question-container{
    margin: 70px 30px 30px 30px;
    height: 300px;
}
.pergunta{
    background-image: url('Card-Pergunta.png');
    display: flex; justify-content: center;
    background-repeat:no-repeat;
}
.sugestao{
    background-image: url('Card-Sugestão.png');
    display: flex; justify-content: center;
    background-repeat:no-repeat;
}
.sugestao-body{
    font-size: 20px;
    color: #4d4d4d;
}

#header-sugestao{
    font-size: 35px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    margin-top: -25px;
    margin-bottom: 20px;
}

.header{
    font-size: 35px;
    font-weight: bold;
    color: #4d4d4d;
}